<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- scope="prototype" ,scope="singleton" -->
	<bean id="bn1" class="com.spi.simple.Student" >
		<property name="name" value="Sidd"></property>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="address" class="com.spi.simple.Address">
		<property name="name" value="H"></property>
		<property name="city" value="Bijapur"></property>
	</bean>

</beans>