<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

   <test name="Test1">
   <parameter name="L1CatagoryIndex" value="1" />
      <classes>
         <class name="com.Pages.AllBealls.TopNavigationChecker" />
      </classes>
   </test>

   <test name="Test2">
   <parameter name="L1CatagoryIndex" value="2" />
      <classes>
         <class name="com.Pages.AllBealls.TopNavigationChecker" />
      </classes>
   </test>

   <test name="Test3">
   <parameter name="L1CatagoryIndex" value="3" />
      <classes>
         <class name="com.Pages.AllBealls.TopNavigationChecker" />
      </classes>
   </test>
   
</suite>